{% extends 'ManagerAppBundle:App:layout.html.twig' %}

{% block member %}
        <div class="memeber-list">
            <div id="table" class="table-editable">
                <span class="table-add glyphicon glyphicon-plus"></span>
                <table class="table">
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Fonction</th>
                        <th>Grade</th>
                        <th>Email</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for member in memberList %}
                        <tr>
                            <td contenteditable="true">{{ member.lastname }}</td>
                            <td contenteditable="true">{{ member.firstname }}</td>
                            <td contenteditable="true">{{ member.function }}</td>
                            <td contenteditable="true">{{ member.status }}</td>
                            <td contenteditable="true">{{ member.email }}</td>
                            <td id="{{ member.id }}">
                                <a href="{{ path('manager_member_remove', {'id' : member.id}) }}" class="table-remove glyphicon glyphicon-remove"></a>
                            </td>
                            <td>
                                <span class="table-up glyphicon glyphicon-arrow-up"></span>
                                <span class="table-down glyphicon glyphicon-arrow-down"></span>
                            </td>
                            <td>
                                <a class="table-seemore glyphicon glyphicon-eye-open"></a>
                            </td>
                        </tr>
                    {% endfor %}
                    <!-- This is our clonable table line -->
                    <tr class="hide">
                        <td contenteditable="true">Nouveau nom</td>
                        <td contenteditable="true">Nouveau prénom</td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true"></td>
                        <td>
                            <span class="table-remove glyphicon glyphicon-remove"></span>
                        </td>
                        <td>
                            <span class="table-up glyphicon glyphicon-arrow-up"></span>
                            <span class="table-down glyphicon glyphicon-arrow-down"></span>
                        <td>
                            <span class="table-seemore glyphicon glyphicon-eye-open"></span>
                        </td>
                    </tr>
                </table>
            </div>

            <button id="export-btn" class="btn btn-primary">Export Data</button>
            <p id="export"></p>
        </div>

        <div class="add_member_form" style="display: none">
            {% include 'ManagerMemberBundle::add_member_form.html.twig' %}
        </div>


        <div class="edit_member_form" style="display: none">
            {% include 'ManagerMemberBundle::edit_member_form.html.twig' %}
        </div>


{% endblock %}
