{% extends 'SecurityUserBundle::layout.html.twig' %}

{% block body %}
    <body>
        <div class="container body">
            <div class="main_container">

                <!-- page content -->
                <div class="right_col" role="main" style="margin-left: 0;">
                    <div class="">

                        <div class="clearfix"></div>

                        <a href="{{ path('manager_app_homepage') }}">Manager</a><br>

                        <a href="{{ path('learning_app_homepage') }}">Learning</a>

                        {% block page_content %}{% endblock %}

                    </div>
                </div>
                <!-- /page content -->

            </div>
        </div>
    </body>
{% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('assets/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('assets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('assets/vendors/fastclick/lib/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ asset('assets/vendors/nprogress/nprogress.js') }}"></script>
{% endblock javascripts %}

{% block modals %}{% endblock modals %}

<!-- Custom Theme Scripts -->
<script src="{{ asset('assets/js/custom.min.js') }}"></script>

{% endblock %}

