{% extends 'PortalAppBundle::layout.html.twig' %}

{% block body %}
        <div class="container body">
            <div class="main_container">
                <h1 style="text-align: center"><i class="fa fa-cubes" aria-hidden="true"></i> FMWorks portal</h1>
                <!-- page content -->
                <div class="right_col" role="main" style="margin-left: 0;">

                        <div class="clearfix"></div>

                        <a href="{{ path('manager_app_homepage') }}"><i class="fa fa-cogs" aria-hidden="true"></i> Manager</a>

                        <a href="{{ path('learning_app_homepage') }}"><i class="fa fa-university" aria-hidden="true"></i> Learning</a>

                        <a href=""><i class="fa fa-connectdevelop" aria-hidden="true"></i> Partnerships</a>

                        <a href=""><i class="fa fa-cloud" aria-hidden="true"></i> Online Ressources</a>

                        {% block page_content %}{% endblock %}

                </div>
                <!-- /page content -->

            </div>

            <div class="portal-footer">
                <h2>FMWorks</h2>
                <p>©2017 All Rights Reserved. asso-france.com</p>
            </div>
        </div>
{% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('assets/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('assets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('assets/vendors/fastclick/lib/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ asset('assets/vendors/nprogress/nprogress.js') }}"></script>
{% endblock javascripts %}

{% block modals %}{% endblock modals %}

<!-- Custom Theme Scripts -->
<script src="{{ asset('assets/js/custom.min.js') }}"></script>

{% endblock %}

